body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #0044cc;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #0033aa;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h1, h2, h3 {
    color: #0044cc;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #0033aa;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative; /* Geändert von absolute auf relative */
    bottom: 0;
    width: 100%;
}
